@model System.Data.DataTable
@{
    ViewBag.Title = "View";
}
@using labo_n1.Models

<br /><a href="@Url.Action("Create", "Films")" role="button" class="btn btn-success">Ajouter un nouveau film</a>
<br />
<br />

<table class="table table-bordered table-striped" id="tab" >
    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Durée</th>
        <th>Réalisateur</th>
        <th>
            @Html.DropDownList("Categorie", new SelectList(Enum.GetValues(typeof(Catego))), "Catégorie", new { @class = "form-control", @id = "sel", onclick = "myFunction()" })
        </th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>
                <a href="@Url.Action("Edit","Films", new {@id = Model.Rows[i][0]})" role="button" class="btn btn-warning">Modifier</a>
                <a href="@Url.Action("Delete", "Films", new {@id = Model.Rows[i][0]})" role="button" class="btn btn-danger">Enlever</a>
            </td>
        </tr>
    }
</table>
